<div class="card shadow">
  <h4 class="card-header">
    <i class="fa fa-home" aria-hidden="true"></i>
    Home
  </h4>
  <div class="card-body">
    {{!-- 3 dấu {{{}}} thì nó hiểu luôn html --}}
    {{{this.product.FullDes}}}
  </div>
  <div class="card-footer text-muted">
    Footer
  </div>
</div>