{{#section 'js'}}
<!-- Revolution Slider -->
  <script type="text/javascript">
    jQuery(document).ready(function () {
      jQuery('.tp-banner').revolution(
        {
          delay: 9000,
          startwidth: 1170,
          startheight: 530,
          hideThumbs: 10,

          navigationType: "bullet",
          navigationStyle: "preview1",

          hideArrowsOnMobile: "on",

          touchenabled: "on",
          onHoverStop: "on",
          spinner: "spinner4"
        });
    });
  </script>

{{/section}} 
 
 
 
 <!-- Home Slider Start -->
    <div class="slider">
      <div class="tp-banner-container clearfix">
        <div class="tp-banner">
          <ul>
            <!-- SLIDE 1 -->
            <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700">
              <!-- MAIN IMAGE -->
              <img src="/images/slider/slider-img1.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
              <!-- LAYERS -->
              <!-- LAYER NR. 1 -->
              <div class="tp-caption very_big_white skewfromrightshort fadeout" data-x="center" data-y="100" data-speed="500" data-start="1200"
                data-easing="Circ.easeInOut" style=" font-size:70px; font-weight:800; color:#fe0100;">Huge
                <span style=" color:#000;">sale</span>
              </div>

              <!-- LAYER NR. 2 -->
              <div class="tp-caption tp-caption medium_text skewfromrightshort fadeout" data-x="center" data-y="165" data-hoffset="0" data-voffset="-73"
                data-speed="500" data-start="1200" data-easing="Power4.easeOut" style=" font-size:20px; font-weight:500; color:#337ab7;">
              Sale off 75% all products </div>

              <!-- LAYER NR. 3 -->
              <div class="tp-caption customin tp-resizeme rs-parallaxlevel-0" data-x="center" data-y="210" data-hoffset="0" data-voffset="98"
                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="500" data-start="1500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
                data-elementdelay="0.1" data-endelementdelay="0.1" data-linktoslide="next" style="border: 2px solid #fed700;border-radius: 50px; font-size:14px; background-color:#fed700; color:#333; z-index: 12; max-width: auto; max-height: auto; white-space: nowrap; letter-spacing:1px;">
                <a href='#' class='largebtn slide1'>Learn More</a>
              </div>
            </li>

            <!-- SLIDE 2 -->
            <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700">
              <!-- MAIN IMAGE -->
              <img src="/images/slider/slider-img2.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
              <!-- LAYERS -->
              <!-- LAYER NR. 1 -->
              <div class="tp-caption white_heavy_60 customin ltl tp-resizeme" data-x="310" data-y="140" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="1200" data-start="700" data-easing="Power4.easeOut" data-splitin="chars" data-splitout="none" data-elementdelay="0.1"
                data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style=" font-size:70px; font-weight:800; color:#333;">GREAT LOOKS </div>

              <!-- LAYER NR. 2 -->
              <div class="tp-caption black_thin_blackbg_30 customin ltl tp-resizeme" data-x="310" data-y="220" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                data-speed="1500" data-start="1000" data-easing="Power4.easeInOut" data-splitin="none" data-splitout="none"
                data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; color:#34bcec; font-size:20px; font-weight:500;">The perfect synthesis of innovative thinking </div>

              <!-- LAYER NR. 4 -->
              <div class="tp-caption lfb ltb start tp-resizeme" data-x="310" data-y="270" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="1500" data-start="1600" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
                data-elementdelay="0.01" data-endelementdelay="0.1" data-linktoslide="next" style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
                <a href='#' class='largebtn solid'>Get It Now!</a>
              </div>
            </li>

            <!-- SLIDE 3 -->
            <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700">
              <!-- MAIN IMAGE -->
              <img src="/images/slider/slider-img3.jpg" alt="slidebg3" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
              <!-- LAYERS -->
              <!-- LAYER NR. 1 -->
              <div class="tp-caption big_100_white lft start fadeout" data-x="310" data-y="120" data-speed="500" data-start="1200" data-easing="Circ.easeInOut"
                style=" font-size:70px; font-weight:800; color:#fff;">High</div>
              <div class="tp-caption big_100_white lft fadeout" data-x="310" data-y="180" data-speed="500" data-start="1200" data-easing="Circ.easeInOut"
                style=" font-size:50px; font-weight:800; color:#fed700;">Definition</div>

              <!-- LAYER NR. 2 -->
              <div class="tp-caption tp-caption medium_text lfb fadeout" data-x="310" data-y="260" data-speed="500" data-start="1200" data-easing="Power4.easeOut"
                style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap; color:#34bcec; font-size:20px; font-weight:500;">Best Camera For You?</div>

              <!-- LAYER NR. 3 -->
              <div class="tp-caption fade fadeout tp-resizeme" data-x="310" data-y="320" data-hoffset="-100" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="1500" data-start="800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none"
                data-elementdelay="0.01" data-endelementdelay="0.1" data-linktoslide="next" style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">
                <a href='#' class='largebtn solid'>Get It Now!</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

<div class="main-container col1-layout">
      <div class="container">
        <div class="row">

          <!-- Home Tabs  -->
          <div class="col-sm-12 col-md-12 col-xs-12">
            <div class="home-tab">
              <ul class="nav home-nav-tabs home-product-tabs">
                <li class="active">
                  <a href="#featured" data-toggle="tab" aria-expanded="false">Sắp kết thúc phiên đấu giá</a>
                </li>
               
              </ul>
              <div id="productTabContent" class="tab-content">
                <div class="tab-pane active in" id="featured">
                  <div class="featured-pro">
                    <div class="slider-items-products">
                      <div id="featured-slider" class="product-flexslider hidden-buttons">
                        <div class="slider-items slider-width-col4">
                          <div class="product-item">
                            <div class="item-inner">
                              <div class="product-thumbnail">
                                <div class="icon-hot-label hot-right">HOT</div>
                                <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="detail_product.html">
                                    <figure> <img class="first-img" src="images/products/img15.jpg" alt="html template"> <img
                                        class="hover-img" src="images/products/img15.jpg" alt="html template"></figure>
                                  </a>
                               
                                </div>
                                <div class="jtv-box-timer">
                                  <div class="countbox_1 jtv-timer-grid"  style="margin-bottom: 50px;">
                                    <div class="day box-time-date"><span class="time-num time-day">935</span>Days</div>
                                    <div class="hour box-time-date"><span class="time-num">20</span>Hrs</div>
                                    <div class="min box-time-date"><span class="time-num">54</span>Mins</div>
                                    <div class="sec box-time-date"><span class="time-num">58</span>Secs</div>
                                  </div>
                                </div>
                                <div class="pr-info-area">
                                  <div class="pr-button">
                                    <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i
                                          class="fa fa-heart"></i> </a> </div>
                                    <div class="mt-button add_to_compare"> <a href="compare.html"> <i
                                          class="fa fa-signal"></i> </a> </div>
                                    <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i>
                                      </a> </div>
                                  </div>
                                </div>
                              </div>
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title"> <a title="Ipsums Dolors Untra" href="detail_product.html">Ipsums
                                      Dolors Untra </a> </div>
                                  <div class="item-content">
                                    
                                    <div class="item-price">
                                      <div class="price-box"> <span class="regular-price"><label>Giá cao nhất: </label> <span class="price">$125.00</span>
                                        </span> </div>
                                    </div>
                                  </div>
                                  <div class="item-brief" style="text-align: left;">
                                    <label>MBidder: </label>
                                    <span>Thưởng</span>
                                    <br>
                                    <label>Mua ngay: </label>
                                    <span class="price">$1050.00</span>
                                    <br>
                                    <label>Ngày đăng: </label>
                                    <span
                                      style="padding: 5px; background-color: rgb(5, 27, 126); color: cornsilk;">11/11/2019</span>
                                    <br>
                                  
                                    <label>Số lượt ra giá: </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <div class="item-inner">
                              <div class="product-thumbnail">
                                <div class="icon-hot-label hot-right">HOT</div>
                                <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="detail_product.html">
                                    <figure> <img class="first-img" src="images/products/img05.jpg" alt="html template"> <img
                                        class="hover-img" src="images/products/img05.jpg" alt="html template"></figure>
                                  </a>
                               
                                </div>
                                <div class="jtv-box-timer">
                                  <div class="countbox_1 jtv-timer-grid"  style="margin-bottom: 50px;">
                                    <div class="day box-time-date"><span class="time-num time-day">935</span>Days</div>
                                    <div class="hour box-time-date"><span class="time-num">20</span>Hrs</div>
                                    <div class="min box-time-date"><span class="time-num">54</span>Mins</div>
                                    <div class="sec box-time-date"><span class="time-num">58</span>Secs</div>
                                  </div>
                                </div>
                                <div class="pr-info-area">
                                  <div class="pr-button">
                                    <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i
                                          class="fa fa-heart"></i> </a> </div>
                                    <div class="mt-button add_to_compare"> <a href="compare.html"> <i
                                          class="fa fa-signal"></i> </a> </div>
                                    <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i>
                                      </a> </div>
                                  </div>
                                </div>
                              </div>
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title"> <a title="Ipsums Dolors Untra" href="detail_product.html">Ipsums
                                      Dolors Untra </a> </div>
                                  <div class="item-content">
                                    
                                    <div class="item-price">
                                      <div class="price-box"> <span class="regular-price"><label>Giá cao nhất: </label> <span class="price">$125.00</span>
                                        </span> </div>
                                    </div>
                                  </div>
                                  <div class="item-brief" style="text-align: left;">
                                    <label>MBidder: </label>
                                    <span>Thưởng</span>
                                    <br>
                                    <label>Mua ngay: </label>
                                    <span class="price">$1050.00</span>
                                    <br>
                                    <label>Ngày đăng: </label>
                                    <span
                                      style="padding: 5px; background-color: rgb(5, 27, 126); color: cornsilk;">11/11/2019</span>
                                    <br>
                                  
                                    <label>Số lượt ra giá: </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <div class="item-inner">
                              <div class="product-thumbnail">
                                <div class="icon-hot-label hot-right">HOT</div>
                                <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="detail_product.html">
                                    <figure> <img class="first-img" src="images/products/img01.jpg" alt="html template"> <img
                                        class="hover-img" src="images/products/img01.jpg" alt="html template"></figure>
                                  </a>
                               
                                </div>
                                <div class="jtv-box-timer">
                                  <div class="countbox_1 jtv-timer-grid"  style="margin-bottom: 50px;">
                                    <div class="day box-time-date"><span class="time-num time-day">935</span>Days</div>
                                    <div class="hour box-time-date"><span class="time-num">20</span>Hrs</div>
                                    <div class="min box-time-date"><span class="time-num">54</span>Mins</div>
                                    <div class="sec box-time-date"><span class="time-num">58</span>Secs</div>
                                  </div>
                                </div>
                                <div class="pr-info-area">
                                  <div class="pr-button">
                                    <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i
                                          class="fa fa-heart"></i> </a> </div>
                                    <div class="mt-button add_to_compare"> <a href="compare.html"> <i
                                          class="fa fa-signal"></i> </a> </div>
                                    <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i>
                                      </a> </div>
                                  </div>
                                </div>
                              </div>
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title"> <a title="Ipsums Dolors Untra" href="detail_product.html">Ipsums
                                      Dolors Untra </a> </div>
                                  <div class="item-content">
                                    
                                    <div class="item-price">
                                      <div class="price-box"> <span class="regular-price"><label>Giá cao nhất: </label> <span class="price">$125.00</span>
                                        </span> </div>
                                    </div>
                                  </div>
                                  <div class="item-brief" style="text-align: left;">
                                    <label>MBidder: </label>
                                    <span>Thưởng</span>
                                    <br>
                                    <label>Mua ngay: </label>
                                    <span class="price">$1050.00</span>
                                    <br>
                                    <label>Ngày đăng: </label>
                                    <span
                                      style="padding: 5px; background-color: rgb(5, 27, 126); color: cornsilk;">11/11/2019</span>
                                    <br>
                                  
                                    <label>Số lượt ra giá: </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <div class="item-inner">
                              <div class="product-thumbnail">
                                <div class="icon-hot-label hot-right">HOT</div>
                                <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="detail_product.html">
                                    <figure> <img class="first-img" src="images/products/img15.jpg" alt="html template"> <img
                                        class="hover-img" src="images/products/img15.jpg" alt="html template"></figure>
                                  </a>
                               
                                </div>
                                <div class="jtv-box-timer">
                                  <div class="countbox_1 jtv-timer-grid"  style="margin-bottom: 50px;">
                                    <div class="day box-time-date"><span class="time-num time-day">935</span>Days</div>
                                    <div class="hour box-time-date"><span class="time-num">20</span>Hrs</div>
                                    <div class="min box-time-date"><span class="time-num">54</span>Mins</div>
                                    <div class="sec box-time-date"><span class="time-num">58</span>Secs</div>
                                  </div>
                                </div>
                                <div class="pr-info-area">
                                  <div class="pr-button">
                                    <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i
                                          class="fa fa-heart"></i> </a> </div>
                                    <div class="mt-button add_to_compare"> <a href="compare.html"> <i
                                          class="fa fa-signal"></i> </a> </div>
                                    <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i>
                                      </a> </div>
                                  </div>
                                </div>
                              </div>
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title"> <a title="Ipsums Dolors Untra" href="detail_product.html">Ipsums
                                      Dolors Untra </a> </div>
                                  <div class="item-content">
                                    
                                    <div class="item-price">
                                      <div class="price-box"> <span class="regular-price"><label>Giá cao nhất: </label> <span class="price">$125.00</span>
                                        </span> </div>
                                    </div>
                                  </div>
                                  <div class="item-brief" style="text-align: left;">
                                    <label>MBidder: </label>
                                    <span>Thưởng</span>
                                    <br>
                                    <label>Mua ngay: </label>
                                    <span class="price">$1050.00</span>
                                    <br>
                                    <label>Ngày đăng: </label>
                                    <span
                                      style="padding: 5px; background-color: rgb(5, 27, 126); color: cornsilk;">11/11/2019</span>
                                    <br>
                                  
                                    <label>Số lượt ra giá: </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <div class="item-inner">
                              <div class="product-thumbnail">
                                <div class="icon-hot-label hot-right">HOT</div>
                                <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="detail_product.html">
                                    <figure> <img class="first-img" src="images/products/img15.jpg" alt="html template"> <img
                                        class="hover-img" src="images/products/img15.jpg" alt="html template"></figure>
                                  </a>
                               
                                </div>
                                <div class="jtv-box-timer">
                                  <div class="countbox_1 jtv-timer-grid"  style="margin-bottom: 50px;">
                                    <div class="day box-time-date"><span class="time-num time-day">935</span>Days</div>
                                    <div class="hour box-time-date"><span class="time-num">20</span>Hrs</div>
                                    <div class="min box-time-date"><span class="time-num">54</span>Mins</div>
                                    <div class="sec box-time-date"><span class="time-num">58</span>Secs</div>
                                  </div>
                                </div>
                                <div class="pr-info-area">
                                  <div class="pr-button">
                                    <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i
                                          class="fa fa-heart"></i> </a> </div>
                                    <div class="mt-button add_to_compare"> <a href="compare.html"> <i
                                          class="fa fa-signal"></i> </a> </div>
                                    <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i>
                                      </a> </div>
                                  </div>
                                </div>
                              </div>
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title"> <a title="Ipsums Dolors Untra" href="detail_product.html">Ipsums
                                      Dolors Untra </a> </div>
                                  <div class="item-content">
                                    
                                    <div class="item-price">
                                      <div class="price-box"> <span class="regular-price"><label>Giá cao nhất: </label> <span class="price">$125.00</span>
                                        </span> </div>
                                    </div>
                                  </div>
                                  <div class="item-brief" style="text-align: left;">
                                    <label>MBidder: </label>
                                    <span>Thưởng</span>
                                    <br>
                                    <label>Mua ngay: </label>
                                    <span class="price">$1050.00</span>
                                    <br>
                                    <label>Ngày đăng: </label>
                                    <span
                                      style="padding: 5px; background-color: rgb(5, 27, 126); color: cornsilk;">11/11/2019</span>
                                    <br>
                                  
                                    <label>Số lượt ra giá: </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <div class="item-inner">
                              <div class="product-thumbnail">
                                <div class="icon-hot-label hot-right">HOT</div>
                                <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="detail_product.html">
                                    <figure> <img class="first-img" src="images/products/img15.jpg" alt="html template"> <img
                                        class="hover-img" src="images/products/img15.jpg" alt="html template"></figure>
                                  </a>
                               
                                </div>
                                <div class="jtv-box-timer">
                                  <div class="countbox_1 jtv-timer-grid"  style="margin-bottom: 50px;">
                                    <div class="day box-time-date"><span class="time-num time-day">935</span>Days</div>
                                    <div class="hour box-time-date"><span class="time-num">20</span>Hrs</div>
                                    <div class="min box-time-date"><span class="time-num">54</span>Mins</div>
                                    <div class="sec box-time-date"><span class="time-num">58</span>Secs</div>
                                  </div>
                                </div>
                                <div class="pr-info-area">
                                  <div class="pr-button">
                                    <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i
                                          class="fa fa-heart"></i> </a> </div>
                                    <div class="mt-button add_to_compare"> <a href="compare.html"> <i
                                          class="fa fa-signal"></i> </a> </div>
                                    <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i>
                                      </a> </div>
                                  </div>
                                </div>
                              </div>
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title"> <a title="Ipsums Dolors Untra" href="detail_product.html">Ipsums
                                      Dolors Untra </a> </div>
                                  <div class="item-content">
                                    
                                    <div class="item-price">
                                      <div class="price-box"> <span class="regular-price"><label>Giá cao nhất: </label> <span class="price">$125.00</span>
                                        </span> </div>
                                    </div>
                                  </div>
                                  <div class="item-brief" style="text-align: left;">
                                    <label>MBidder: </label>
                                    <span>Thưởng</span>
                                    <br>
                                    <label>Mua ngay: </label>
                                    <span class="price">$1050.00</span>
                                    <br>
                                    <label>Ngày đăng: </label>
                                    <span
                                      style="padding: 5px; background-color: rgb(5, 27, 126); color: cornsilk;">11/11/2019</span>
                                    <br>
                                  
                                    <label>Số lượt ra giá: </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-xs-12">
            <div class="home-tab">
              <ul class="nav home-nav-tabs home-product-tabs">
                <li class="active">
                  <a href="#featured" data-toggle="tab" aria-expanded="false">Lượt ra nhiều nhất</a>
                </li>
               
              </ul>
              <div id="productTabContent" class="tab-content">
                <div class="tab-pane active in" id="featured">
                  <div class="featured-pro">
                    <div class="slider-items-products">
                      <div id="featured-slider" class="product-flexslider hidden-buttons">
                        <div class="slider-items slider-width-col4">
                          <div class="product-item">
                            <div class="item-inner">
                              <div class="product-thumbnail">
                                <div class="icon-hot-label hot-right">HOT</div>
                                <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="detail_product.html">
                                    <figure> <img class="first-img" src="images/products/img07.jpg" alt="html template"> <img
                                        class="hover-img" src="images/products/img07.jpg" alt="html template"></figure>
                                  </a>
                               
                                </div>
                                <div class="jtv-box-timer">
                                  <div class="countbox_1 jtv-timer-grid"  style="margin-bottom: 50px;">
                                    <div class="day box-time-date"><span class="time-num time-day">935</span>Days</div>
                                    <div class="hour box-time-date"><span class="time-num">20</span>Hrs</div>
                                    <div class="min box-time-date"><span class="time-num">54</span>Mins</div>
                                    <div class="sec box-time-date"><span class="time-num">58</span>Secs</div>
                                  </div>
                                </div>
                                <div class="pr-info-area">
                                  <div class="pr-button">
                                    <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i
                                          class="fa fa-heart"></i> </a> </div>
                                    <div class="mt-button add_to_compare"> <a href="compare.html"> <i
                                          class="fa fa-signal"></i> </a> </div>
                                    <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i>
                                      </a> </div>
                                  </div>
                                </div>
                              </div>
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title"> <a title="Ipsums Dolors Untra" href="detail_product.html">Ipsums
                                      Dolors Untra </a> </div>
                                  <div class="item-content">
                                    
                                    <div class="item-price">
                                      <div class="price-box"> <span class="regular-price"><label>Giá cao nhất: </label> <span class="price">$125.00</span>
                                        </span> </div>
                                    </div>
                                  </div>
                                  <div class="item-brief" style="text-align: left;">
                                    <label>MBidder: </label>
                                    <span>Thưởng</span>
                                    <br>
                                    <label>Mua ngay: </label>
                                    <span class="price">$1050.00</span>
                                    <br>
                                    <label>Ngày đăng: </label>
                                    <span
                                      style="padding: 5px; background-color: rgb(5, 27, 126); color: cornsilk;">11/11/2019</span>
                                    <br>
                                  
                                    <label>Số lượt ra giá: </label>
                                    <span> 100 </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <div class="item-inner">
                              <div class="product-thumbnail">
                                <div class="icon-hot-label hot-right">HOT</div>
                                <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="detail_product.html">
                                    <figure> <img class="first-img" src="images/products/img06.jpg" alt="html template"> <img
                                        class="hover-img" src="images/products/img15.jpg" alt="html template"></figure>
                                  </a>
                               
                                </div>
                                <div class="jtv-box-timer">
                                  <div class="countbox_1 jtv-timer-grid"  style="margin-bottom: 50px;">
                                    <div class="day box-time-date"><span class="time-num time-day">935</span>Days</div>
                                    <div class="hour box-time-date"><span class="time-num">20</span>Hrs</div>
                                    <div class="min box-time-date"><span class="time-num">54</span>Mins</div>
                                    <div class="sec box-time-date"><span class="time-num">58</span>Secs</div>
                                  </div>
                                </div>
                                <div class="pr-info-area">
                                  <div class="pr-button">
                                    <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i
                                          class="fa fa-heart"></i> </a> </div>
                                    <div class="mt-button add_to_compare"> <a href="compare.html"> <i
                                          class="fa fa-signal"></i> </a> </div>
                                    <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i>
                                      </a> </div>
                                  </div>
                                </div>
                              </div>
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title"> <a title="Ipsums Dolors Untra" href="detail_product.html">Ipsums
                                      Dolors Untra </a> </div>
                                  <div class="item-content">
                                    
                                    <div class="item-price">
                                      <div class="price-box"> <span class="regular-price"><label>Giá cao nhất: </label> <span class="price">$125.00</span>
                                        </span> </div>
                                    </div>
                                  </div>
                                  <div class="item-brief" style="text-align: left;">
                                    <label>MBidder: </label>
                                    <span>Thưởng</span>
                                    <br>
                                    <label>Mua ngay: </label>
                                    <span class="price">$1050.00</span>
                                    <br>
                                    <label>Ngày đăng: </label>
                                    <span
                                      style="padding: 5px; background-color: rgb(5, 27, 126); color: cornsilk;">11/11/2019</span>
                                    <br>
                                  
                                    <label>Số lượt ra giá: </label>
                                    <span> 100 </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <div class="item-inner">
                              <div class="product-thumbnail">
                                <div class="icon-hot-label hot-right">HOT</div>
                                <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="detail_product.html">
                                    <figure> <img class="first-img" src="images/products/img08.jpg" alt="html template"> <img
                                        class="hover-img" src="images/products/img08.jpg" alt="html template"></figure>
                                  </a>
                               
                                </div>
                                <div class="jtv-box-timer">
                                  <div class="countbox_1 jtv-timer-grid"  style="margin-bottom: 50px;">
                                    <div class="day box-time-date"><span class="time-num time-day">935</span>Days</div>
                                    <div class="hour box-time-date"><span class="time-num">20</span>Hrs</div>
                                    <div class="min box-time-date"><span class="time-num">54</span>Mins</div>
                                    <div class="sec box-time-date"><span class="time-num">58</span>Secs</div>
                                  </div>
                                </div>
                                <div class="pr-info-area">
                                  <div class="pr-button">
                                    <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i
                                          class="fa fa-heart"></i> </a> </div>
                                    <div class="mt-button add_to_compare"> <a href="compare.html"> <i
                                          class="fa fa-signal"></i> </a> </div>
                                    <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i>
                                      </a> </div>
                                  </div>
                                </div>
                              </div>
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title"> <a title="Ipsums Dolors Untra" href="detail_product.html">Ipsums
                                      Dolors Untra </a> </div>
                                  <div class="item-content">
                                    
                                    <div class="item-price">
                                      <div class="price-box"> <span class="regular-price"><label>Giá cao nhất: </label> <span class="price">$125.00</span>
                                        </span> </div>
                                    </div>
                                  </div>
                                  <div class="item-brief" style="text-align: left;">
                                    <label>MBidder: </label>
                                    <span>Thưởng</span>
                                    <br>
                                    <label>Mua ngay: </label>
                                    <span class="price">$1050.00</span>
                                    <br>
                                    <label>Ngày đăng: </label>
                                    <span
                                      style="padding: 5px; background-color: rgb(5, 27, 126); color: cornsilk;">11/11/2019</span>
                                    <br>
                                  
                                    <label>Số lượt ra giá: </label>
                                    <span> 100 </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <div class="item-inner">
                              <div class="product-thumbnail">
                                <div class="icon-hot-label hot-right">HOT</div>
                                <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="detail_product.html">
                                    <figure> <img class="first-img" src="images/products/img09.jpg" alt="html template"> <img
                                        class="hover-img" src="images/products/img09.jpg" alt="html template"></figure>
                                  </a>
                               
                                </div>
                                <div class="jtv-box-timer">
                                  <div class="countbox_1 jtv-timer-grid"  style="margin-bottom: 50px;">
                                    <div class="day box-time-date"><span class="time-num time-day">935</span>Days</div>
                                    <div class="hour box-time-date"><span class="time-num">20</span>Hrs</div>
                                    <div class="min box-time-date"><span class="time-num">54</span>Mins</div>
                                    <div class="sec box-time-date"><span class="time-num">58</span>Secs</div>
                                  </div>
                                </div>
                                <div class="pr-info-area">
                                  <div class="pr-button">
                                    <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i
                                          class="fa fa-heart"></i> </a> </div>
                                    <div class="mt-button add_to_compare"> <a href="compare.html"> <i
                                          class="fa fa-signal"></i> </a> </div>
                                    <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i>
                                      </a> </div>
                                  </div>
                                </div>
                              </div>
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title"> <a title="Ipsums Dolors Untra" href="detail_product.html">Ipsums
                                      Dolors Untra </a> </div>
                                  <div class="item-content">
                                    
                                    <div class="item-price">
                                      <div class="price-box"> <span class="regular-price"><label>Giá cao nhất: </label> <span class="price">$125.00</span>
                                        </span> </div>
                                    </div>
                                  </div>
                                  <div class="item-brief" style="text-align: left;">
                                    <label>MBidder: </label>
                                    <span>Thưởng</span>
                                    <br>
                                    <label>Mua ngay: </label>
                                    <span class="price">$1050.00</span>
                                    <br>
                                    <label>Ngày đăng: </label>
                                    <span
                                      style="padding: 5px; background-color: rgb(5, 27, 126); color: cornsilk;">11/11/2019</span>
                                    <br>
                                  
                                    <label>Số lượt ra giá: </label>
                                    <span> 100 </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <div class="item-inner">
                              <div class="product-thumbnail">
                                <div class="icon-hot-label hot-right">HOT</div>
                                <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="detail_product.html">
                                    <figure> <img class="first-img" src="images/products/img10.jpg" alt="html template"> <img
                                        class="hover-img" src="images/products/img10.jpg" alt="html template"></figure>
                                  </a>
                               
                                </div>
                                <div class="jtv-box-timer">
                                  <div class="countbox_1 jtv-timer-grid"  style="margin-bottom: 50px;">
                                    <div class="day box-time-date"><span class="time-num time-day">935</span>Days</div>
                                    <div class="hour box-time-date"><span class="time-num">20</span>Hrs</div>
                                    <div class="min box-time-date"><span class="time-num">54</span>Mins</div>
                                    <div class="sec box-time-date"><span class="time-num">58</span>Secs</div>
                                  </div>
                                </div>
                                <div class="pr-info-area">
                                  <div class="pr-button">
                                    <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i
                                          class="fa fa-heart"></i> </a> </div>
                                    <div class="mt-button add_to_compare"> <a href="compare.html"> <i
                                          class="fa fa-signal"></i> </a> </div>
                                    <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i>
                                      </a> </div>
                                  </div>
                                </div>
                              </div>
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title"> <a title="Ipsums Dolors Untra" href="detail_product.html">Ipsums
                                      Dolors Untra </a> </div>
                                  <div class="item-content">
                                    
                                    <div class="item-price">
                                      <div class="price-box"> <span class="regular-price"><label>Giá cao nhất: </label> <span class="price">$125.00</span>
                                        </span> </div>
                                    </div>
                                  </div>
                                  <div class="item-brief" style="text-align: left;">
                                    <label>MBidder: </label>
                                    <span>Thưởng</span>
                                    <br>
                                    <label>Mua ngay: </label>
                                    <span class="price">$1050.00</span>
                                    <br>
                                    <label>Ngày đăng: </label>
                                    <span
                                      style="padding: 5px; background-color: rgb(5, 27, 126); color: cornsilk;">11/11/2019</span>
                                    <br>
                                  
                                    <label>Số lượt ra giá: </label>
                                    <span> 100 </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <div class="item-inner">
                              <div class="product-thumbnail">
                                <div class="icon-hot-label hot-right">HOT</div>
                                <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="detail_product.html">
                                    <figure> <img class="first-img" src="images/products/img11.jpg" alt="html template"> <img
                                        class="hover-img" src="images/products/img11.jpg" alt="html template"></figure>
                                  </a>
                               
                                </div>
                                <div class="jtv-box-timer">
                                  <div class="countbox_1 jtv-timer-grid"  style="margin-bottom: 50px;">
                                    <div class="day box-time-date"><span class="time-num time-day">935</span>Days</div>
                                    <div class="hour box-time-date"><span class="time-num">20</span>Hrs</div>
                                    <div class="min box-time-date"><span class="time-num">54</span>Mins</div>
                                    <div class="sec box-time-date"><span class="time-num">58</span>Secs</div>
                                  </div>
                                </div>
                                <div class="pr-info-area">
                                  <div class="pr-button">
                                    <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i
                                          class="fa fa-heart"></i> </a> </div>
                                    <div class="mt-button add_to_compare"> <a href="compare.html"> <i
                                          class="fa fa-signal"></i> </a> </div>
                                    <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i>
                                      </a> </div>
                                  </div>
                                </div>
                              </div>
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title"> <a title="Ipsums Dolors Untra" href="detail_product.html">Ipsums
                                      Dolors Untra </a> </div>
                                  <div class="item-content">
                                    
                                    <div class="item-price">
                                      <div class="price-box"> <span class="regular-price"><label>Giá cao nhất: </label> <span class="price">$125.00</span>
                                        </span> </div>
                                    </div>
                                  </div>
                                  <div class="item-brief" style="text-align: left;">
                                    <label>MBidder: </label>
                                    <span>Thưởng</span>
                                    <br>
                                    <label>Mua ngay: </label>
                                    <span class="price">$1050.00</span>
                                    <br>
                                    <label>Ngày đăng: </label>
                                    <span
                                      style="padding: 5px; background-color: rgb(5, 27, 126); color: cornsilk;">11/11/2019</span>
                                    <br>
                                  
                                    <label>Số lượt ra giá: </label>
                                    <span> 100 </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <div class="item-inner">
                              <div class="product-thumbnail">
                                <div class="icon-hot-label hot-right">HOT</div>
                                <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="detail_product.html">
                                    <figure> <img class="first-img" src="images/products/img15.jpg" alt="html template"> <img
                                        class="hover-img" src="images/products/img15.jpg" alt="html template"></figure>
                                  </a>
                               
                                </div>
                                <div class="jtv-box-timer">
                                  <div class="countbox_1 jtv-timer-grid"  style="margin-bottom: 50px;">
                                    <div class="day box-time-date"><span class="time-num time-day">935</span>Days</div>
                                    <div class="hour box-time-date"><span class="time-num">20</span>Hrs</div>
                                    <div class="min box-time-date"><span class="time-num">54</span>Mins</div>
                                    <div class="sec box-time-date"><span class="time-num">58</span>Secs</div>
                                  </div>
                                </div>
                                <div class="pr-info-area">
                                  <div class="pr-button">
                                    <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i
                                          class="fa fa-heart"></i> </a> </div>
                                    <div class="mt-button add_to_compare"> <a href="compare.html"> <i
                                          class="fa fa-signal"></i> </a> </div>
                                    <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i>
                                      </a> </div>
                                  </div>
                                </div>
                              </div>
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title"> <a title="Ipsums Dolors Untra" href="detail_product.html">Ipsums
                                      Dolors Untra </a> </div>
                                  <div class="item-content">
                                    
                                    <div class="item-price">
                                      <div class="price-box"> <span class="regular-price"><label>Giá cao nhất: </label> <span class="price">$125.00</span>
                                        </span> </div>
                                    </div>
                                  </div>
                                  <div class="item-brief" style="text-align: left;">
                                    <label>MBidder: </label>
                                    <span>Thưởng</span>
                                    <br>
                                    <label>Mua ngay: </label>
                                    <span class="price">$1050.00</span>
                                    <br>
                                    <label>Ngày đăng: </label>
                                    <span
                                      style="padding: 5px; background-color: rgb(5, 27, 126); color: cornsilk;">11/11/2019</span>
                                    <br>
                                  
                                    <label>Số lượt ra giá: </label>
                                    <span> 100 </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-12 col-xs-12">
            <div class="home-tab">
              <ul class="nav home-nav-tabs home-product-tabs">
                <li class="active">
                  <a href="#featured" data-toggle="tab" aria-expanded="false">Top sản phẩm giá cao nhất</a>
                </li>
               
              </ul>
              <div id="productTabContent" class="tab-content">
                <div class="tab-pane active in" id="featured">
                  <div class="featured-pro">
                    <div class="slider-items-products">
                      <div id="featured-slider" class="product-flexslider hidden-buttons">
                        <div class="slider-items slider-width-col4">
                          <div class="product-item">
                            <div class="item-inner">
                              <div class="product-thumbnail">
                                <div class="icon-hot-label hot-right">HOT</div>
                                <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="detail_product.html">
                                    <figure> <img class="first-img" src="images/products/img14.jpg" alt="html template"> <img
                                        class="hover-img" src="images/products/img14.jpg" alt="html template"></figure>
                                  </a>
                               
                                </div>
                                <div class="jtv-box-timer">
                                  <div class="countbox_1 jtv-timer-grid"  style="margin-bottom: 50px;">
                                    <div class="day box-time-date"><span class="time-num time-day">935</span>Days</div>
                                    <div class="hour box-time-date"><span class="time-num">20</span>Hrs</div>
                                    <div class="min box-time-date"><span class="time-num">54</span>Mins</div>
                                    <div class="sec box-time-date"><span class="time-num">58</span>Secs</div>
                                  </div>
                                </div>
                                <div class="pr-info-area">
                                  <div class="pr-button">
                                    <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i
                                          class="fa fa-heart"></i> </a> </div>
                                    <div class="mt-button add_to_compare"> <a href="compare.html"> <i
                                          class="fa fa-signal"></i> </a> </div>
                                    <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i>
                                      </a> </div>
                                  </div>
                                </div>
                              </div>
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title"> <a title="Ipsums Dolors Untra" href="detail_product.html">Ipsums
                                      Dolors Untra </a> </div>
                                  <div class="item-content">
                                    
                                    <div class="item-price">
                                      <div class="price-box"> <span class="regular-price"><label>Giá cao nhất: </label> <span class="price">$125.00</span>
                                        </span> </div>
                                    </div>
                                  </div>
                                  <div class="item-brief" style="text-align: left;">
                                    <label>MBidder: </label>
                                    <span>Thưởng</span>
                                    <br>
                                    <label>Mua ngay: </label>
                                    <span class="price">$1050.00</span>
                                    <br>
                                    <label>Ngày đăng: </label>
                                    <span
                                      style="padding: 5px; background-color: rgb(5, 27, 126); color: cornsilk;">11/11/2019</span>
                                    <br>
                                  
                                    <label>Số lượt ra giá: </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <div class="item-inner">
                              <div class="product-thumbnail">
                                <div class="icon-hot-label hot-right">HOT</div>
                                <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="detail_product.html">
                                    <figure> <img class="first-img" src="images/products/img05.jpg" alt="html template"> <img
                                        class="hover-img" src="images/products/img05.jpg" alt="html template"></figure>
                                  </a>
                               
                                </div>
                                <div class="jtv-box-timer">
                                  <div class="countbox_1 jtv-timer-grid"  style="margin-bottom: 50px;">
                                    <div class="day box-time-date"><span class="time-num time-day">935</span>Days</div>
                                    <div class="hour box-time-date"><span class="time-num">20</span>Hrs</div>
                                    <div class="min box-time-date"><span class="time-num">54</span>Mins</div>
                                    <div class="sec box-time-date"><span class="time-num">58</span>Secs</div>
                                  </div>
                                </div>
                                <div class="pr-info-area">
                                  <div class="pr-button">
                                    <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i
                                          class="fa fa-heart"></i> </a> </div>
                                    <div class="mt-button add_to_compare"> <a href="compare.html"> <i
                                          class="fa fa-signal"></i> </a> </div>
                                    <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i>
                                      </a> </div>
                                  </div>
                                </div>
                              </div>
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title"> <a title="Ipsums Dolors Untra" href="detail_product.html">Ipsums
                                      Dolors Untra </a> </div>
                                  <div class="item-content">
                                    
                                    <div class="item-price">
                                      <div class="price-box"> <span class="regular-price"><label>Giá cao nhất: </label> <span class="price">$125.00</span>
                                        </span> </div>
                                    </div>
                                  </div>
                                  <div class="item-brief" style="text-align: left;">
                                    <label>MBidder: </label>
                                    <span>Thưởng</span>
                                    <br>
                                    <label>Mua ngay: </label>
                                    <span class="price">$1050.00</span>
                                    <br>
                                    <label>Ngày đăng: </label>
                                    <span
                                      style="padding: 5px; background-color: rgb(5, 27, 126); color: cornsilk;">11/11/2019</span>
                                    <br>
                                  
                                    <label>Số lượt ra giá: </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <div class="item-inner">
                              <div class="product-thumbnail">
                                <div class="icon-hot-label hot-right">HOT</div>
                                <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="detail_product.html">
                                    <figure> <img class="first-img" src="images/products/img01.jpg" alt="html template"> <img
                                        class="hover-img" src="images/products/img01.jpg" alt="html template"></figure>
                                  </a>
                               
                                </div>
                                <div class="jtv-box-timer">
                                  <div class="countbox_1 jtv-timer-grid"  style="margin-bottom: 50px;">
                                    <div class="day box-time-date"><span class="time-num time-day">935</span>Days</div>
                                    <div class="hour box-time-date"><span class="time-num">20</span>Hrs</div>
                                    <div class="min box-time-date"><span class="time-num">54</span>Mins</div>
                                    <div class="sec box-time-date"><span class="time-num">58</span>Secs</div>
                                  </div>
                                </div>
                                <div class="pr-info-area">
                                  <div class="pr-button">
                                    <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i
                                          class="fa fa-heart"></i> </a> </div>
                                    <div class="mt-button add_to_compare"> <a href="compare.html"> <i
                                          class="fa fa-signal"></i> </a> </div>
                                    <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i>
                                      </a> </div>
                                  </div>
                                </div>
                              </div>
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title"> <a title="Ipsums Dolors Untra" href="detail_product.html">Ipsums
                                      Dolors Untra </a> </div>
                                  <div class="item-content">
                                    
                                    <div class="item-price">
                                      <div class="price-box"> <span class="regular-price"><label>Giá cao nhất: </label> <span class="price">$125.00</span>
                                        </span> </div>
                                    </div>
                                  </div>
                                  <div class="item-brief" style="text-align: left;">
                                    <label>MBidder: </label>
                                    <span>Thưởng</span>
                                    <br>
                                    <label>Mua ngay: </label>
                                    <span class="price">$1050.00</span>
                                    <br>
                                    <label>Ngày đăng: </label>
                                    <span
                                      style="padding: 5px; background-color: rgb(5, 27, 126); color: cornsilk;">11/11/2019</span>
                                    <br>
                                  
                                    <label>Số lượt ra giá: </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <div class="item-inner">
                              <div class="product-thumbnail">
                                <div class="icon-hot-label hot-right">HOT</div>
                                <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="detail_product.html">
                                    <figure> <img class="first-img" src="images/products/img15.jpg" alt="html template"> <img
                                        class="hover-img" src="images/products/img15.jpg" alt="html template"></figure>
                                  </a>
                               
                                </div>
                                <div class="jtv-box-timer">
                                  <div class="countbox_1 jtv-timer-grid"  style="margin-bottom: 50px;">
                                    <div class="day box-time-date"><span class="time-num time-day">935</span>Days</div>
                                    <div class="hour box-time-date"><span class="time-num">20</span>Hrs</div>
                                    <div class="min box-time-date"><span class="time-num">54</span>Mins</div>
                                    <div class="sec box-time-date"><span class="time-num">58</span>Secs</div>
                                  </div>
                                </div>
                                <div class="pr-info-area">
                                  <div class="pr-button">
                                    <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i
                                          class="fa fa-heart"></i> </a> </div>
                                    <div class="mt-button add_to_compare"> <a href="compare.html"> <i
                                          class="fa fa-signal"></i> </a> </div>
                                    <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i>
                                      </a> </div>
                                  </div>
                                </div>
                              </div>
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title"> <a title="Ipsums Dolors Untra" href="detail_product.html">Ipsums
                                      Dolors Untra </a> </div>
                                  <div class="item-content">
                                    
                                    <div class="item-price">
                                      <div class="price-box"> <span class="regular-price"><label>Giá cao nhất: </label> <span class="price">$125.00</span>
                                        </span> </div>
                                    </div>
                                  </div>
                                  <div class="item-brief" style="text-align: left;">
                                    <label>MBidder: </label>
                                    <span>Thưởng</span>
                                    <br>
                                    <label>Mua ngay: </label>
                                    <span class="price">$1050.00</span>
                                    <br>
                                    <label>Ngày đăng: </label>
                                    <span
                                      style="padding: 5px; background-color: rgb(5, 27, 126); color: cornsilk;">11/11/2019</span>
                                    <br>
                                  
                                    <label>Số lượt ra giá: </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <div class="item-inner">
                              <div class="product-thumbnail">
                                <div class="icon-hot-label hot-right">HOT</div>
                                <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="detail_product.html">
                                    <figure> <img class="first-img" src="images/products/img15.jpg" alt="html template"> <img
                                        class="hover-img" src="images/products/img15.jpg" alt="html template"></figure>
                                  </a>
                               
                                </div>
                                <div class="jtv-box-timer">
                                  <div class="countbox_1 jtv-timer-grid"  style="margin-bottom: 50px;">
                                    <div class="day box-time-date"><span class="time-num time-day">935</span>Days</div>
                                    <div class="hour box-time-date"><span class="time-num">20</span>Hrs</div>
                                    <div class="min box-time-date"><span class="time-num">54</span>Mins</div>
                                    <div class="sec box-time-date"><span class="time-num">58</span>Secs</div>
                                  </div>
                                </div>
                                <div class="pr-info-area">
                                  <div class="pr-button">
                                    <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i
                                          class="fa fa-heart"></i> </a> </div>
                                    <div class="mt-button add_to_compare"> <a href="compare.html"> <i
                                          class="fa fa-signal"></i> </a> </div>
                                    <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i>
                                      </a> </div>
                                  </div>
                                </div>
                              </div>
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title"> <a title="Ipsums Dolors Untra" href="detail_product.html">Ipsums
                                      Dolors Untra </a> </div>
                                  <div class="item-content">
                                    
                                    <div class="item-price">
                                      <div class="price-box"> <span class="regular-price"><label>Giá cao nhất: </label> <span class="price">$125.00</span>
                                        </span> </div>
                                    </div>
                                  </div>
                                  <div class="item-brief" style="text-align: left;">
                                    <label>MBidder: </label>
                                    <span>Thưởng</span>
                                    <br>
                                    <label>Mua ngay: </label>
                                    <span class="price">$1050.00</span>
                                    <br>
                                    <label>Ngày đăng: </label>
                                    <span
                                      style="padding: 5px; background-color: rgb(5, 27, 126); color: cornsilk;">11/11/2019</span>
                                    <br>
                                  
                                    <label>Số lượt ra giá: </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="product-item">
                            <div class="item-inner">
                              <div class="product-thumbnail">
                                <div class="icon-hot-label hot-right">HOT</div>
                                <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="detail_product.html">
                                    <figure> <img class="first-img" src="images/products/img15.jpg" alt="html template"> <img
                                        class="hover-img" src="images/products/img15.jpg" alt="html template"></figure>
                                  </a>
                               
                                </div>
                                <div class="jtv-box-timer">
                                  <div class="countbox_1 jtv-timer-grid"  style="margin-bottom: 50px;">
                                    <div class="day box-time-date"><span class="time-num time-day">935</span>Days</div>
                                    <div class="hour box-time-date"><span class="time-num">20</span>Hrs</div>
                                    <div class="min box-time-date"><span class="time-num">54</span>Mins</div>
                                    <div class="sec box-time-date"><span class="time-num">58</span>Secs</div>
                                  </div>
                                </div>
                                <div class="pr-info-area">
                                  <div class="pr-button">
                                    <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i
                                          class="fa fa-heart"></i> </a> </div>
                                    <div class="mt-button add_to_compare"> <a href="compare.html"> <i
                                          class="fa fa-signal"></i> </a> </div>
                                    <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i>
                                      </a> </div>
                                  </div>
                                </div>
                              </div>
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title"> <a title="Ipsums Dolors Untra" href="detail_product.html">Ipsums
                                      Dolors Untra </a> </div>
                                  <div class="item-content">
                                    
                                    <div class="item-price">
                                      <div class="price-box"> <span class="regular-price"><label>Giá cao nhất: </label> <span class="price">$125.00</span>
                                        </span> </div>
                                    </div>
                                  </div>
                                  <div class="item-brief" style="text-align: left;">
                                    <label>MBidder: </label>
                                    <span>Thưởng</span>
                                    <br>
                                    <label>Mua ngay: </label>
                                    <span class="price">$1050.00</span>
                                    <br>
                                    <label>Ngày đăng: </label>
                                    <span
                                      style="padding: 5px; background-color: rgb(5, 27, 126); color: cornsilk;">11/11/2019</span>
                                    <br>
                                  
                                    <label>Số lượt ra giá: </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>

        </div>
      </div>

     
    </div>