 <!-- Main Container -->

    <div class="error-page">
        <div class="container">
          <div class="error_pagenotfound"> <strong>5<span id="animate-arrow">0</span>0 </strong> <br />
            <b>Oops... Có lỗi xảy ra!</b> <em>Hãy nhớ lập trình viên xem lỗi trong console</em>
            <p>Sử dụng nút bên dưới để trở về trang chủ nhé</p>
            <br />
            <a href="/" class="button-back"><i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp; Go to Back</a> </div>
          <!-- end error page notfound --> 
          
        </div>
      </div>
    <!-- Main Container End -->