<div class="card shadow mb-4">
  <h4 class="card-header">
    New Category
  </h4>
  <div class="card-body">
    <form method="POST">
      <div class="form-group">
        <label for="txtCatName">Category</label>
        <input type="text" class="form-control" id="txtCatName" name="CatName" placeholder="Enter category name"
          autofocus>
      </div>
      <a class="btn btn-outline-primary" href="/admin/categories" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        List
      </a>
      <button type="submit" class="btn btn-outline-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </form>
  </div>
  <div class="card-footer text-muted">
    Footer
  </div>
</div>